@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/mainbackground.png");
  background-size: contain;
}

footer {
  height: 100px;
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
